/* Estilos Gerais */
body {
  font-family: "Kantumruy Pro", serif;
}

/* Header */

header {
  background-color: #272b00;
  width: 100%;
  padding: 15px 0;
  top: 0;

  display: flex;

  justify-content: center;
  align-items: center;
}

header img {
  width: 150px;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.header_menu ul li a {
  text-decoration: none;
  font-family: "Kantumruy Pro", serif;
  font-weight: bold;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.1em;
  padding: 0px 0;

  transition: 0.5s ease;

  border-bottom: 2px solid transparent;
}

.header_menu ul li a:hover {
  color: #f8fbca;
  transition: 0.5s ease;
  border-bottom: 2px solid #f8fbca;
}

/* Introdução */
.introducao {
  width: 100%;
  height: 80vh;
  background: url("../IMG/HomeWP.webp");
  background-size: cover;

  padding-top: 80px;

  text-align: center;
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f5f5f5;
}

.introducao h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffffe1;

  margin-top: -15px;

  padding: 0px;
}

.introducao h1:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f8fbca;
  margin: 15px auto 0px auto;

  padding: 0px;
}

.introducao p {
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #ececece7;
  letter-spacing: 0.3px;
}

/* Sobre mim */
.sobremim {
  width: 100%;
  padding: 50px 0;
}

.sobremim h2 {
  font-size: 32px;
  font-weight: bold;
}

.sobremim h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #54582f;
  margin: 5px 0;
}

.sobremim .content {
  text-align: left;
}

.sobremim .text {
  text-align: left;
  margin: 52px 0;

  font-size: 14px;
  font-weight: bold;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.glow-box {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px #54582f;
  border-radius: 5px;
  position: absolute;
}

.box1 {
  width: 120px;
  height: 170px;
  background-image: url("../IMG/ME1.webp");
  background-size: cover;
  top: 0px;
  left: 260px;
  z-index: 1;

  filter: grayscale(0);
  transition: 0.5s ease;
}

.box2 {
  width: 220px;
  height: 220px;
  background-image: url("../IMG/ME2.webp");
  background-size: cover;
  top: 100px;
  left: 110px;

  filter: grayscale(0);
  transition: 0.5s ease;
}
.box3 {
  width: 170px;
  height: 150px;
  background-image: url("../IMG/ME3.webp");
  background-size: cover;
  top: 300px;
  left: 220px;

  filter: grayscale(0);
  transition: 0.5s ease;
}

.box3:hover,
.box2:hover,
.box1:hover {
  filter: grayscale(1);
}

/* Projetos*/
.projetos {
  width: 100%;
  height: max-content;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.projetos h2 {
  font-size: 32px;
  font-weight: bold;
  color: #060606;
}

.projetos .card {
  margin-left: 0;
  margin-bottom: 20px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;

  border-radius: 10px;

  border: none;

  height: 440px;

  transition: 0.5s ease;

  box-shadow: 0px 0px 15px #54582f;
}

.projetos .card:hover {
  box-shadow: 0px 0px 15px transparent;
}

.projetos .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projetos .card-title {
  margin: 10px 0px 10px 10px;
  font-weight: bold;
}

.projetos .card-text {
  margin: 10px 0px 10px 10px;
}

.projetos .btn {
  width: 150px;
  padding: 5px;

  text-decoration: none;
  border-radius: 100px;

  margin: 0 auto;
  background-color: #272b00;
  color: #f5f5f5;
  border: 2px solid transparent;

  text-align: center;

  transition: 0.5s ease;
}

.projetos .btn:hover {
  background-color: #54582f;
  color: #f5f5f5;
  border: 2px solid #060606;
}

.projetos h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #54582f;
  margin: 5px 0;

  margin-bottom: 50px;
}

/* Linguagens */
.linguagens h2 {
  margin-top: 15px;
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  color: #f5f5f5;

  flex-wrap: wrap;

  margin: 0px 0px 10px 0px;
}

.lingua {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;

  border: 2px solid #54582f;
  border-radius: 10px;

  padding: 20px 0px;
}

.react {
  transition: 0.8s ease;
}

/* Experiêcia */
.experiencia {
  background-color: #fff;
  padding: 50px 0;
}

.experiencia h2 {
  font-size: 32px;
  font-weight: bold;
  color: #060606;
}

.experiencia h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #54582f;
  margin: 5px 0;

  margin-bottom: 20px;
}

.experiencia-link {
  margin-bottom: 40px;
}

.pepsico,
.github {
  width: 340px;
  height: 276px;

  background-color: #f5f5f5;

  text-align: left;
  margin: 0;

  margin-right: 40px;
  padding: 20px;
  font-size: 14px;

  border-radius: 10px;
}

.pepsico img,
.github img {
  margin-bottom: 5px;
}

.data {
  color: #4a4a4a;
}

/* Meus Links */
.meuslinks .linkedinlink,
.meuslinks .githublink,
.meuslinks .spotifylink {
  width: 36px;
  height: 36px;
  transition: 0.5s ease;
}

.meuslinks .githublink,
.meuslinks .spotifylink {
  margin-left: 10px;
}

.meuslinks .linkedinlink:hover,
.meuslinks .githublink:hover,
.meuslinks .spotifylink:hover {
  opacity: 0.8;
}

.email {
  margin-top: 20px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #272b00;
}

footer p {
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;

  color: #f5f5f5;
}
